@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');


/* div.title h1 {
    font-size: 100px;
    font-family: 'Bakbak One', cursive;
    text-align: center;
    letter-spacing: 2px; 
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
} */